body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .container {
    text-align: center;
    padding: 0 10px; /* Add padding to the sides of the container */
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .generate-button, .copy-button {
    margin: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .copy-button {
    background-color: #3498db;
  }
  
  .emoji-output {
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: 'Noto Color Emoji', sans-serif;
  }
  